<div class="container">
  <mat-list>
    <div *ngFor="let history of histories">
    <mat-list-item class="history-item">
      <div class="avatar">{{ getInitiales(history) }}</div>
      <div class="content">
      <span class="date">{{ history.date | date: '\'Le\' dd/MM/yyyy \'à\' HH:mm' }}</span><br/>
      <span class="text">{{ history.text }}</span>
    </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
  </mat-list>
  <button mat-stroked-button class="load-more-button" (click)='loadMore()'>Charger plus</button>
</div>