<div class="container">
  <mat-list>
    <mat-list-item>Alexandre Receveur a créé son profil</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Florine Grilo a créé son profil</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Ludovic YOL a créé l'application Bastet</mat-list-item>

    <mat-list-item>Alexandre Receveur a créé son profil</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Florine Grilo a créé son profil</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Ludovic YOL a créé l'application Bastet</mat-list-item>
    <mat-list-item>Alexandre Receveur a créé son profil</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Florine Grilo a créé son profil</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Ludovic YOL a créé l'application Bastet</mat-list-item>
    <mat-list-item>Alexandre Receveur a créé son profil</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Florine Grilo a créé son profil</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Ludovic YOL a créé l'application Bastet</mat-list-item>
    <mat-list-item>Alexandre Receveur a créé son profil</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Florine Grilo a créé son profil</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Ludovic YOL a créé l'application Bastet</mat-list-item>
  </mat-list>
</div>