<div mat-dialog-title>
  <mat-card-title>Mot de passe</mat-card-title><br />
  <mat-card-subtitle>Modification</mat-card-subtitle>
  <p class="warning-message">La modification du mot de passe nécessitera une reconnexion</p>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Mot de passe actuel" type="password" name="actualPassword" [(ngModel)]="actualPassword" required>
    <span matPrefix>
      <fa-icon [icon]="['fas', 'unlock']"></fa-icon>&nbsp;
    </span>
    <mat-hint>Votre mot de passe actuel</mat-hint>
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput placeholder="Nouveau mot de passe" type="password" name="newPassword" [(ngModel)]="newPassword" required>
    <span matPrefix>
      <fa-icon [icon]="['fas', 'unlock']"></fa-icon>&nbsp;
    </span>
    <mat-hint>Votre nouveau mot de passe</mat-hint>
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput placeholder="Nouveau mot de passe" type="password" name="newPasswordBis" [(ngModel)]="newPasswordBis" required>
    <span matPrefix>
      <fa-icon [icon]="['fas', 'unlock']"></fa-icon>&nbsp;
    </span>
    <mat-hint>Répetez votre nouveau mot de passe</mat-hint>
  </mat-form-field>
  <br />
  <br />
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Annuler</button>
  <button mat-raised-button class="update-button" (click)="update()" color="primary">Modifier</button>
</div>