<div class="not-found-container">

  <mat-card class="not-found-card">
    <img mat-card-image src="../../../assets/images/bastet_login.png" alt="Logo de l'application Bastet">
    <mat-card-header  fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title> Connexion </mat-card-title>
    </mat-card-header>
    <div fxLayout="column" fxLayoutAlign="center center">
      Oups ! Cette page n'existe pas !
    </div>
    <mat-card-actions>
      <div fxLayout="column" fxLayoutAlign="center center">
        <button class="not-found-button" routerLink="/" mat-stroked-button>Retour à l'accueil</button></div>
    </mat-card-actions>
  </mat-card>
</div>
