.mat-form-field {
  width: 100%;
}

.mat-dialog-title{
    width: 500px;
}

.mat-form-field-with-hint{
  padding-bottom: 15px;
}

.mat-dialog-actions {
  float: right;
}

.update-button{
  background: #ffab40;
}