<div mat-dialog-title>
  <mat-card-title>Coordonnées</mat-card-title>
  <mat-card-subtitle>Contact & réseaux sociaux</mat-card-subtitle>
</div>
<form (submit)="update()">
  <div mat-dialog-content>
    <mat-form-field class="mat-form-field-with-hint">
      <input matInput placeholder="E-mail" [formControl]="email" name="email" [(ngModel)]="user.email" required>
      <span matPrefix>
        <fa-icon [icon]="['fas', 'envelope']"></fa-icon>&nbsp;
      </span>
      <mat-hint>L'adresse mail à laquelle vous contacter (peut différente de celle de connexion)</mat-hint>
      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput placeholder="Téléphone" name="phone" [(ngModel)]="user.phone">
      <span matPrefix>
        <fa-icon [icon]="['fas', 'mobile-alt']"></fa-icon>&nbsp;
      </span>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput placeholder="Ville" name="city" [(ngModel)]="user.city">
      <span matPrefix>
        <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>&nbsp;
      </span>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput placeholder="Facebook" name="facebook" [(ngModel)]="user.facebook">
      <span matPrefix>
        <fa-icon [icon]="['fab', 'facebook']"></fa-icon>&nbsp;
      </span>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput placeholder="Twitter" name="twitter" [(ngModel)]="user.twitter">
      <span matPrefix>
        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>&nbsp;
      </span>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput placeholder="LinkedIn" name="linkedin" [(ngModel)]="user.linkedin">
      <span matPrefix>
        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>&nbsp;
      </span>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput placeholder="Github" name="github" [(ngModel)]="user.github">
      <span matPrefix>
        <fa-icon [icon]="['fab', 'github']"></fa-icon>&nbsp;
      </span>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">Annuler</button>
    <button mat-raised-button color="primary" type="submit">Modifier</button>
  </div>
</form>
