<mat-card class="profile-card">
  <img mat-card-image src="../../../assets/images/yol_ludovic.jpg" alt="Photo de Ludovic YOL">

  <button mat-fab color="primary">
    <mat-icon aria-label="Modifier votre profil">edit</mat-icon>
  </button>

  <mat-card-header>
    <mat-card-title>{{ profile?.name }}</mat-card-title>
    <mat-card-subtitle> Promotion 2016 </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      Je suis Product Owner sur le projet innovant de mon entreprise Eole Consulting : Hygia. 
      L'objectif est de créer un environnement de santé autour du patient.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-icon-button color="accent">
          <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
      </button>
      <button mat-icon-button color="accent">
          <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
      </button>
      <button mat-icon-button color="accent">
          <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
      </button>
      <button mat-icon-button color="accent">
          <fa-icon [icon]="['fab', 'github']"></fa-icon>
      </button></div>
  </mat-card-actions>
</mat-card>
