<div class="container">
  <img class="welcome-img" src="../../../../assets/images/welcome.png">
  <h4>Merci pour ton inscription !</h4>
  <p>
    Bastet, c'est l'application développée par ISIS Alumni afin d'automatiser le suivi des carrières et générer des statistiques sur la communauté des anciens !
  </p>
  <p>
      Pour l'instant, tu peux...
    </p>
    <mat-list>

        <mat-list-item>
          <mat-icon mat-list-icon>account_circle</mat-icon> 
          <p mat-line>..alimenter ton profil personnel !</p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>supervisor_account</mat-icon> 
          <p mat-line>..fouiller dans l'annuaire des anciens grâce à la recherche </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>bar_chart</mat-icon> 
          <p mat-line>..voir quelques stats basiques sur la communauté !</p>
        </mat-list-item>

    </mat-list>
    <p>
        Pour suivre le développement de Bastet, je te conseille de t'inscrire à notre newsletter via
        le site web d'<a href="http://isis-alumni.fr" target="_blank">isis alumni </a>!
      </p>
</div>