<mat-nav-list>
  <h3 mat-subheader>Annuaire</h3>
  <mat-list-item *ngFor="let user of users">
    <div class="initial-avatar">{{ getInitiales(user) }}</div>
    <div class="annuaire-row" (click)='goToUserProfile(user._id)'>
        <h4 mat-line>{{ user.firstName }} {{ user.lastName }}</h4>
        <p mat-line> Promotion {{ user.promotion }} </p>
    </div>
  </mat-list-item>
</mat-nav-list>

<div class="row" *ngIf="isSearching">
  <div class="col-12 text-center">
      <h4>Searching ... </h4>
  </div>
</div>

<form class="search-form">
  <mat-form-field class="example-full-width">
    <input type="text" #searchInput matInput placeholder="">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</form>