.initial-avatar{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    border-radius: 50%;
    background: #ffab40;
    color: black;
}

.annuaire-row{
    padding-left: 10px;
}

.annuaire-row h4, .annuaire-row p{
    margin: 5px;
}