.initial-avatar{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    border-radius: 50%;
    background: #ffab40;
    color: black;
}

.annuaire-row{
    padding-left: 10px;
}

.annuaire-row h4, .annuaire-row p{
    margin: 5px;
}

.search-form{
    width: 100%;
    background: #334051;
    color: white;
    position: absolute;
    bottom: 0;
}

.search-form .mat-form-field{
    width: 100%;
}

::ng-deep .search-form .mat-form-field-wrapper{
    width: 95%;
    margin: auto;
    padding-bottom: 10px;
}

::ng-deep .search-form .mat-form-field {
    .mat-input-element {
        color: white;
    }
    .mat-form-field-label {
        color: white;
    }
    .mat-form-field-underline {
        background-color: white;
        bottom: 10px;
    }
    .mat-form-field-ripple {
        background-color: white;
    }
    .mat-form-field-required-marker {
        color: white;
    }
}

.search-loader{
    text-align: center;
}

.search-loader img{
    width: 75px;
}

.no-result{
    width: 100%;
    text-align: center;
}

.no-result img{
    width: 75%;
}

.no-result p{
    text-transform: uppercase;
    font-weight: 500;
    color: #b6bec7;
}