<mat-nav-list>
  <h3 mat-subheader>Annuaire</h3>
  <div class="result-container" *ngIf="!isSearching">
    <!-- If no results -->
    <div class="no-result" *ngIf="users.length == 0">
      <img src="../../../assets/images/no-results.png">
      <p>Aucun résultat</p>
    </div>

    <!-- If results, display profiles-->
    <mat-list-item *ngFor="let user of users">
      <div class="initial-avatar">{{ getInitiales(user) }}</div>
      <div class="annuaire-row" (click)='goToUserProfile(user._id)'>
        <h4 mat-line>{{ user.firstName }} {{ user.lastName }}</h4>
        <p mat-line> Promotion {{ user.promotion }} </p>
      </div>
    </mat-list-item>

  </div>
</mat-nav-list>

<div class="row search-loader" *ngIf="isSearching">
    <img src="../../../assets/loaders/loading.gif">
</div>

<form class="search-form">
  <mat-form-field class="full-width">
    <input type="text" #searchInput matInput placeholder="">
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
</form>